.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body{
  height: 95vh;
  overflow-y:hidden !important;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main{
  width: 100%;
  display: flex;
}
.leftHamburgerMain{
  width: 25%;
}

.leftHamburger{
  background-color: #2374ee;
  display: flex;
  border-bottom:1px solid white;
}

.leftHamburgera{
  color: white;
  width: 100%;
  margin: auto;
  text-decoration: none;
  text-align: center;
  padding: 5px;
}

.contentHome{
  width: 75%;
}

.itemlist{
  width: 100%;
  height: 92vh;
  overflow-y:auto;
}

.item{
  width: 98%;
  border: 1px solid rgb(260, 180, 180);
  margin: 5px auto;
  border-radius: 5px;
  display: block;
  align-items: center;
}

.item>table{
  width: inherit;
}

.itemName{
  width: 20%;
  text-align: center;
}

.itemTotalQTY{
  width: 18%;
  text-align: center;
}
.itemQTY{
  width: 15%;
  width: 15%;
  text-align: center;
}
.itemQTY>div{
  border: 1px solid gray;
  border-radius: 5px;
  align-self: center;
  padding: 3px;
}

.itemButton{
  margin: 2px 5px;
  align-self: center;
  align-content: center;
  text-align: center;
}

.itemPrice{
  width: 15%;
  text-align: center;
}

.tilde{
  width: fit-content;
  margin: 10px;
}
.finished{
  width: 8%;
  text-align: center;
  align-self: center;
  color: rgb(200, 190, 180);
}

.totalPrice{
  width: 9%;
  text-align: center;
}

.itemPriceh{
  border: 2px solid black;
  text-align: center;
}

.leftHamburgera:active{
  text-decoration: none;
}

.leftHamburgera:hover{
  text-decoration: none;
}

.Purchase{
  width: 20%;
  text-align: center;
}

.totalPriceDiv{
  width: 180px;
  float: right;
  margin: 5px 4%;
}
.totalPriceDiv>button{
  float: right;
}

.totalPricec{
  width: 100%;
  display: flex;
}

.totalPricec>h6{
  text-align: center;
  align-items: center;
  margin: auto;
}

.totalPricec>p{
  text-align: center;
  align-items: center;
  margin: auto;
}


/* bill total */
.totalPriceDivBill{
  width: 180px;
  float: right;
  margin: 5px;
  border-top: 1px dashed black;
}
.totalPriceDivBill>button{
  float: right;
}

.totalPricecBill{
  width: 100%;
  display: flex;
}

.totalPricecBill>h6{
  text-align: center;
  align-items: center;
  margin: auto;
}

.totalPricecBill>p{
  text-align: left;
  align-items: center;
  margin: auto;
}



.itemNameBill{
  width: 20%;
}

.itemTotalQTYBill{
  width:20%;
}

.itemPriceBill{
  width: 20%;
}

.totalPriceBill{
  width: 20%;
}

table>tr>td,th{
  text-align: center;
}

.Bill{
  display: none;
}


/* invoice css */

.contentAllInvoice{
  width: 75%;
}

.invoiceList{
  border: 1px solid rgb(260, 180, 180);
  border-radius: 5px;
  height: 92vh;
  overflow-y:auto;
  margin: 2px;
}


.invoice{
  border: 1px solid black;
  margin: 5px 5px;
  border-radius: 5px;
  padding:10px;
  background-color: rgba(4, 8, 243, 0.089);
  display: block;
  justify-content: space-between;
  font-size: small;
}

.invoiceDisplay{
  display: flex;
}

.seeMore{
  align-items: center;
  border: none;
  width: 30px;
  background-color: rgba(4, 8, 243, 0);
  margin: 0 8px;
  cursor: pointer;
}

.seeMore>img{
  width: 20px;
}

.invoiceNo{
  align-items: center;
  padding: 2px 0 0 0;
  width: 25%;
}

.moreDetails{
  display: none;
}

.moreDetails>table{
  width: 100%;
}

.btnControl{
  display: none;
  cursor: pointer;
}

.rotate-img-90{
  animation-name: rotat; 
  animation-duration: 1s;
  transition-timing-function: linear;
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 1s; 
  -webkit-transition-timing-function: linear;
}

@keyframes rotat {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(90deg); }
  0% { transform: rotate(0deg); }
  100% { transform: rotate(90deg); }
}

.rotate-img-0{
  animation-name: rotate; 
  animation-duration: 1s;
  transition-timing-function: linear;
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 1s; 
  -webkit-transition-timing-function: linear;
}

@keyframes rotate {
  0% { -webkit-transform: rotate(90deg); }
  100% { -webkit-transform: rotate(0deg); }
  0% { transform: rotate(90deg); }
  100% { transform: rotate(0deg); }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
